# Python
__pycache__/

*$py.class
*.so
.Python
build/
develop-eggs/
dist/
ultralytics/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
ENV/
env/
.venv
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.streamlit/


*.xml


# Data Files
*.csv
*.xlsx
*.xls
*.json
*.zip
data/
Data/
NEU-DET/
NEUDETCopy/
runs/
uploads/






# Logs
*.log
logs/

labels.zip
NEU-DET.zip
