numpy==1.26.4
pillow==10.2.0
scikit-image==0.22.0
scikit-learn==1.5.2
scipy==1.12.0
pandas==2.2.2
matplotlib==3.9.2
opencv-python-headless==4.7.0.72
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
ultralytics==8.3.141
streamlit==1.44.1
Flask==3.0.0
Flask-Cors==5.0.0
requests==2.31.0
plotly==5.22.0
python-dotenv==1.0.0
